<html>

    <body>
        <form action = "/result" method ="POST">
            <label for="weight"> How many pounds do you weigh? (ex: 125) </label>
            <input type="text" id="weight" name ="weight" placeholder="weight">
            <label for="feet"> How many feet tall are you? (ex: 5)</label>
            <input type="text" id="feet" name ="feet" placeholder="feet">
            <label for="inch"> How many extra inches tall are you? (ex: 3) </label>
            <input type="text" id="inch" name ="inch" placeholder="inches">
            <button type="Submit" > Calculate </button>


        </form>
    </body>



</html>